body{
    background: url("android.jpg");
    background-repeat: no-repeat; 
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}


.btn:hover{
    background:  -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(113,255,84,1) 95%, rgba(113,255,84,1) 100%);
    transition: all 300ms;
    cursor: pointer;
}

#rowbtn{
    margin-top: 80px;
}

#cont1{
    margin-top: 100px;
}

#cont2{
    margin-top: 30px;
}
