body{
    background: url("css/uptc.jpg");
    background-repeat: no-repeat; 
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
#row{
    margin-top: 300px;
}
.usuario{
    margin-top: 300px;
}
