<%- layout('layouts/main') %>


<h2>
    <center>
        NUEVO USUARIO
    </center>
</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">

        <div class="card mt-4 text center">
            <div class="card-header">
                <center><h3>CREAR </h3></center>
            </div>
            <div class="card-body">
        
                <form action="/signup" method="POST">
                    <small id="emailHelp" class="form-text text-muted">Introduce usuario</small>
                    <input type="email" name="email" placeholder="Insert Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <br><br>
                    <small id="emailHelp" class="form-text text-muted">pasword</small>
                    <input type="password" name="password" placeholder="Insert Password"  class="form-control" id="exampleInputPassword1">
                    <br><br>
                
                    <center><button type="submit"  class="btn btn-primary"> Aceptar </button></center>
                    
                </form>
        
        
            </div>
        
        </div>
    </div>
</div>